
.dashboard-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px;

    .data-field{
        display: flex;
        flex-direction: column;
        flex: 1 1 22%;
        border: 1px solid $primary;
        margin: 8px;
        height: 6rem;
        
        .data-header{
            background-color: $primary;
            font: 16px 'Lato';
            color: white;

        }
    
        p{
            flex: 1;
            color: white;
            font: 32px 'Roboto';
            font-weight: 200;
            margin: 0;
            padding: 8px;
        }

    }  
}

.charts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    .chart-container{
        width: 400px;
        height: 400px;
    }
    
}


