
@import 'theme';

.sidenav {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    position: fixed;
    top: 0;
    width: 18rem;
    background-color: $primary;
    z-index: 5;
    -webkit-transform: translateX(-18rem);
        -ms-transform: translateX(-18rem);
            transform: translateX(-18rem);
    -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 5px #90ee90;

    .close {
        border: none;
        background: none;
        cursor: pointer;
        color: white;
        padding: 16px;
        align-self: flex-start;
    }
    
    a {
        text-decoration: none;
        color: white;
        padding: 8px;
        margin: 8px;
        font: 20px 'Source Sans Pro';
        border-bottom: 1px solid rgba(255, 255, 255, 0.54);
        transition: all 0.4s ease-in-out;

        &:hover {
            background-color: $primary-light;
        }

        i{
            margin-right: 16px;
        }
    }

    a.acerca{
        margin-bottom: 32px;
        margin-top: auto;
    }
        
}

