<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'includes/styles.html' %}
    <title>Lapo</title>
</head>
<body>
  {% include 'includes/navbar.html' %}
  {% include 'includes/sidebar.html' %}
  <p class="subtitle">Dashboard</p>
  <div class="dashboard-main">
    <div class='data-field'>
      <p class='data-header'>Puntos Totales</p> 
      <p>{{estadisticas.puntosTotales}} Pts.</p>
    </div>
    <div class='data-field'>
      <p class='data-header'>Promedio General</p> 
      <p>{{estadisticas.promedioTotal}} Pts.</p>
    </div>
    <div class='data-field'>
      <p class='data-header'>Cantidad Partidas</p> 
      <p>{{estadisticas.cantidadPartidas}}</p>
    </div>
    <div class='data-field'>
      <p class='data-header'>Máximo Histórico</p> 
      <p>{{estadisticas.maximoHistorico}} Pts.</p>
    </div>
    <div class='data-field'>
      <p class='data-header'>Manos Totales</p> 
      <p>{{estadisticas.cantidadManos}}</p>
    </div>
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
  {% include 'includes/scripts.html' %}
  <script src="/static/scripts/dashboard.js"></script>
</body>
</html>