<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'includes/styles.html' %}
    <title>Lapo</title>
</head>
<body>
  {% include 'includes/navbar.html' %}
  {% include 'includes/sidebar.html' %}
  <p class="subtitle">Jugadores</p>
  <div class="main">
    {% for j in jugadores %}
    <div class="card">
      <img src={{j.imgUrl}}/>
      <div class="card-text">
        <p class="card-p header"> {{j.apodo}} </p>
        <p class="card-p subelem">  </p>
        <p class="card-p subelem">  </p>
        <p class="card-p subelem">  </p>
        <p class="card-p subelem">  </p>
        <p class="card-p subelem">  </p>
      </div>
    </div>
    {% endfor %}
    <div class="card">
      <img src="https://images.unsplash.com/photo-1508132128959-17577240b4ce?dpr=1&auto=format&fit=crop&w=334&h=&q=60&cs=tinysrgb&crop="/>
      <div class="card-text">
        <p class="card-p"> Godi </p>
      </div>
    </div>
    <div class="card">
      <img src="https://images.unsplash.com/photo-1506362802973-bd1717de901c?dpr=1&auto=format&fit=crop&w=722&h=&q=60&cs=tinysrgb&crop="/>
      <div class="card-text">
        <p class="card-p"> Wilk </p>
      </div>
    </div>
  </div>
  {% include 'includes/scripts.html' %}
</body>
</html>
