<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'includes/styles.html' %}
    <title>Lapo</title>
</head>
<body>
  {% include 'includes/navbar.html' %}
  {% include 'includes/sidebar.html' %}
  <p class="subtitle">Jugadores</p>
  <div class="main">
    {% for j in jugadores %}
    <div class="card">
      <img src='{{j.imgUrl}}'/>
      <div class="card-text">
        <p class="card-p header"> {{j.nombre}} </p>
        <p class="card-p subheader">{{j.apodo}}</p>
        <div class="card-p subelem"><p>Cantidad Partidas: </p><p class="valor">{{j.getPartidas()|length}}</p></div>
        <div class="card-p subelem"><p>Total Puntos: </p><p class="valor">{{j.getTotalPuntos()}}</p></div>
        <div class="card-p subelem"><p>Puntos/Partida:   </p><p class="valor">{{j.getPuntosPorPartida()}}</p></div>
        <div class="card-p subelem"><p>Puntaje Maximo:  </p><p class="valor">{{j.getMaxPuntaje()}}</p></div>
        <div class="card-p subelem"><p>Cantidad Ganadas:  </p><p class="valor">{{j.getCantidadGanadas()}}</p></div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include 'includes/scripts.html' %}
</body>
</html>
